@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Noto Sans KR", sans-serif;
	overflow: hidden;
}
.navbar-title {
	font-family: "Bagel Fat One", cursive;
}
#logo {
	width: 80px;
}

.map_wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

#map {
	position: relative;
	width: 100%;
	height: 100%;
	transition: height 0.3s ease-in-out;
}

#roadviewbtn {
	position: absolute;
	top: 50px;
	right: 5%;
	padding: 0;
	margin: 0;
	font-size: 12px;
	z-index: 2;
}
#currentbtn {
	position: absolute;
	top: 100px;
	right: 5%;
	padding: 0;
	margin: 0;
	font-size: 12px;
	z-index: 2;
}

#enrollbtn {
	position: absolute;
	top: 80%;
	right: 5%;
	padding: 0;
	margin: 0;
	font-size: 12px;
	z-index: 2;
	visibility: hidden;
}

.bottom_bar {
	width: 100%;
	height: 0%;
	border: 1px solid black;
	font-family: "Noto Sans KR", sans-serif;
	text-align: center;
	background-color: #d9efff;
	transition: height 0.3s ease-in-out;
}

.buttons {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.address_box {
	font-size: 100%;
	text-align: left;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	margin-left: 10%;
}

#address-1 {
	font-weight: 900;
	font-size: large;
}

#address-2 {
	font-weight: normal;
}

.findRoute {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	margin-left: 5px;
}

.bottom_roadview {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	margin-top: 25px;
}

.report {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	margin-top: 25px;
}

#roadview {
	position: relative;
	top: 16%;
	left: 25%;
	width: 50%;
	height: 50%;
	z-index: 2;
	visibility: hidden;
}

#enroll_page {
	color: #000;
	display: flex;
	width: 100%;
	height: 0%;
	font-family: "Noto Sans KR", sans-serif;
	justify-content: center;
	z-index: 3;
	background-color: #d9efff;
}

#enroll_page .request-guide {
	margin-top: 20px;
}

#enroll_page .first_span {
	margin: auto auto;
	line-height: 1.2;
}

#enroll_page .grey {
	color: #797979;
}

#enroll_page li {
	font-size: 80%;
	margin-top: 5px;
}

#enroll_page .title {
	font-weight: 500;
	font-size: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
}

#enroll_page .subtitle {
	margin-top: 20px;
	font-weight: 500;
	font-size: 100%;
}

#enroll_page .content {
	font-weight: 400;
	font-size: 80%;
}

#enroll_page #PlaceName {
	margin-top: 5px;
	width: 100%;
}

#enroll_page #PlaceExplain {
	margin-top: 5px;
	width: 100%;
}

#enroll_page .photo {
	margin-top: 5px;
}

#enroll_page form {
	display: flex;
	flex-direction: column;
}

#enroll_page .submit {
	position: relative;
	left: 30%;
	border: 0px solid #d9efff;
	background: #d9efff;
	margin-top: 20px;
	width: 136px;
	height: 34px;
	background-image: url("/static/main/image/enrollbtn.png");
}
