{% extends 'base.html' %} {% block content%}
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			{% if user.is_authenticated %}
			<div class="row g-3">
				<div class="col-md-9">
					<label class="highlight">아이디</label><br />
					<label class="form-label">{{ user.username }}</label>
				</div>
				<br />
				<div class="col-md-9">
					<label class="highlight">닉네임</label><br />
					<label class="form-label">{{ user.nickname }}</label>
				</div>
				<div class="col-md-9">
					<label class="highlight">이메일</label><br />
					<label class="form-label">{{ user.email }}</label>
				</div>
				<a href="/">홈으로</a>
			</div>
		</div>
		{% else %} 회원이 아닙니다.
		<br />
		<a href="/">홈으로</a>
		{% endif %}
	</div>
</div>
{% endblock %}

